<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="БД_Студенты.Properties.Settings.Students_1ConnectionString"
            connectionString="Data Source=K4C205SRV-1C\SQLEXPRESS2;Initial Catalog=Students_1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>